langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama
chromadb
huggingface-hub
sentence-transformers
pydantic
numpy
tqdm
ragas
azure-ai-documentintelligence
fastapi
python-dateutil
pdf2image
uvicorn[standard]
beautifulsoup4 
markdownify
pandas
rank_bm25